.error-ul li {
  color: red;
}

.notification-container-top-right {
    right: 140px !important;
    top: 20px !important;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}